body {
	background-color: #f06d06;
}

svg {
	background-color: #ffffff;
}

/*#vizcontainer {
	display: table;
	margin: 50px auto;
}*/

a {
	text-decoration: none;
	font-size: large;
	color: #080808;
	margin: 1em;
}

nav ul {
	background-color: #4682b4;
	border-radius: 2vw;
}

nav ul li {
	display: inline-block;
	background-color: #4682b4;
	padding: 2em;
}

.homeLink {
	background-color: #000000;
	border-radius: 1vw;
}

.homeLink div {
	background-color: #ff0000;
	margin: 1vw;
	width: 50%;
	border-radius: .5vw;
	padding: 2vw;
}