<div class="homeLink">
	<div><a href="/helloWorld">Hello World</a></div>
	<div><a href="/cities">Cities</a></div>
	<div><a href="/tweets">Tweets</a></div>
	<div><a href="/soccer">Soccer</a></div>
	<div><a href="/moneyandfriends">Money &amp; Friends</a></div>
	<div><a href="/sitevisitors">Site Visitors</a></div>
	<div><a href="/tweetinterpolation">More Tweets! (interpolation)</a></div>
	<div><a href="/movies">Movies</a></div>
</div>