<div class="homeLink">
	<div><a href="/helloWorld">Hello World</a></div>
	<div><a href="/cities">Cities</a></div>
	<div><a href="/tweets">Tweets</a></div>
	<div><a href="/soccer">Soccer</a></div>
</div>