<head>
	<link rel="stylesheet" type="text/css" href="/css/soccer.css">
</head>

 <script src="/js/colorbrewer.js" type="text/javascript"></script>
 <script src="/js/soccerviz.js" type="text/javascript"></script>

<body onload="createSoccerViz()">

	<div id="viz">
		<svg style="width:500px;height:500px;border:1px lightgray solid;" />
	</div>

	<div id="controls" />

</body>