<!DOCTYPE html>
<html>
<head>
	<title>Data!!!</title>
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

  <nav>
    <ul>
      <li><a href="/helloWorld">Hello World</a></li>
      <li><a href="/cities">Cities</a></li>
      <li><a href="/tweets">Tweets</a></li>
      <li><a href="/soccer">Soccer</a></li>
    </ul>
  </nav>

{{{body}}}

</body>
</html>